<header class="bar-header">
    <div class="header-inner">
        <div class="left">
            <nav class="nav-primary">
                <ul>
                    {% for item in site.menu %}
                        {% if item.title and item.url %}
                            <li><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <h1 class="logo">
            <a href="{{ site.baseurl }}/">
                {% if site.use_logo %}
                    {% include logo.html %}
                {% else %}
                    {{ site.name }} <span class="version">{{ site.version }}</span>
                {% endif %}
            </a>
        </h1>

        <div class="right">
            <a id="search" class="dosearch" role="button">
                <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
            </a>
        </div>
    </div>
</header>

<div id="mask" class="overlay"></div>

{% include search.html %}
