.comments {
  @include center(rem(800px));
  padding: 0 rem(20px);
  
  h3 {
    margin: 0 0 rem(30px);
    font-size: rem(30px);
  }
}

footer {
  @include center(rem(1000px));
  position: relative;
  z-index: 0;
  border-top: 1px solid rgba(255,255,255,0.04);
  padding: rem(18px) rem(20px);
  margin-top: rem(60px);
  margin-bottom: rem(60px);
  @include mainFont(300);

  @include media(">=sm") {
    margin-top: rem(100px);
  }

  p {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    font-size: rem(14px);
    line-height: rem(22px);
    margin: 0 0 rem(8px) 0;
  }

  span {
    font-weight: 700;
  }

  svg {
    @include size(28, 28);
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(10px);

    @include media(">=sm") {
      margin-right: rem(20px);
    }

    &.love {
      @include size(20, 20);
      fill: $themeColor;
      margin-top: rem(-2px);
      margin-left: rem(3px);
      margin-right: rem(3px);
    }
  }

  a {
    display: inline-block;
    fill: #808080;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #808080;
    
    &:hover {
      fill: $themeColor;
    }
    
    &.creator:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: rem(18px);
    align-items: center;

    li {
      margin: 0;
    }

    a {
      text-decoration: none;
      font-size: rem(13px);
      color: rgba(255,255,255,0.75);

      &:hover {
        color: $themeColor;
      }
    }
  }
}

.main-page {
  footer {
    background: transparent;
    border-top: none;

    p {
      color: rgba(255,255,255,0.9);
    }
  }
}
