.hero {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

  +#grid {
    margin-top: rem(-80px);
  }

  .gradient,
  .pixels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .pixels {
    opacity: 0.8;
    background-image: url(../../assets/img/pixels.png);
  }

  .gradient {
    background-image: linear-gradient(0deg, rgba(20, 20, 20, 1) 5%, rgba(0, 0, 0, 0) 30%);
  }

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 100%;
    padding-left: 10%;
    z-index: 2;

    @include media(">=sm") {
      width: 50%;
    }

    .date {
      font-size: rem(16px);
      color: rgba(255, 255, 255, 0.75);
    }

    .title {
      font-size: rem(40px);
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      margin: rem(10px) 0;

      @include media(">=sm") {
        font-size: rem(50px);
      }
    }

    .description {
      font-size: rem(24px);
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      margin: 0;

      @include media(">=sm") {
        font-size: rem(26px);
      }
    }

    .buttons {
      margin-top: rem(50px);
    }

    .button {
      display: inline-block;
      font-size: rem(18px);
      font-weight: bold;
      color: #fff;
      text-decoration: none;
        background-color: transparent;
        border: 1px solid rgba(255,255,255,0.06);
      border-radius: rem(5px);
      padding: rem(10px) rem(15px);
      transition: all 0.3s;

      @include media(">=sm") {
        font-size: rem(18px);
      }

      &:hover {
        background-color: rgba(255,255,255,0.06);
        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.12);
      }

      svg {
        width: rem(25px);
        height: rem(25px);
        margin-right: rem(10px);
        vertical-align: middle;
        color: $themeColor;
      }

      span {
        vertical-align: middle;
      }
    }
  }

  /* Make the hero image cover full area responsively */
  picture,
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    z-index: 0;
  }
}

/* Banner: imagen fija con mitad de altura de la pantalla */
.banner {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.02);

  .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center 85%;
    z-index: 0;
    transform: scale(1.07) translateY(-20%);
    transition: transform 0.6s ease;
    will-change: transform;
    animation: kenburns 20s linear infinite alternate;
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(180deg, rgba(20, 20, 20, 0.5) 10%, rgba(0,0,0,0.25) 60%);
  }

  /* Subtle hover zoom for pointer devices */
  &:hover .banner-image {
    transform: scale(1.08) translateY(-6%);
  }

  @include media("<=sm") {
    height: 30vh;
  }
}

@keyframes kenburns {
  from { transform: scale(1.07) translateY(-20%); }
  to { transform: scale(1.11) translateY(-6%); }
}
